[submodule "vendor/kg-gen"]
	path = vendor/kg-gen
	url = https://github.com/stair-lab/kg-gen
[submodule "vendor/ragas"]
	path = vendor/ragas
	url = git@github.com:yun-jeonghan/ragas.git
[submodule "vendor/benchmark-qed"]
	path = vendor/benchmark-qed
	url = https://github.com/microsoft/benchmark-qed.git
